---
import Layout from "@layouts/Layout.astro";
import Services from "src/sections/Services.astro";
import Experience from "src/sections/Experience.astro";
import Connect from "src/sections/Connect.astro";
import Colophon from "src/sections/Colophon.astro";
import Companies from "src/sections/Companies.astro";
import FAQ from "src/sections/FAQ.astro";
import Introduction from "@sections/Introduction.astro";
---

<Layout title="Welcome to Astro.">
  <Introduction />
  <Companies />
  <Services />
  <FAQ />
  <Experience />
  <Connect />
  <Colophon />
</Layout>

<!-- <Section id="companies" />

  <Section id="experience">
    <SectionHeader>
      <Icon
        slot="section-header-icon"
        name="projector-board"
        shape-rendering="geometricPrecision"
        class="h-10 w-10 "
      />
      <H2 slot="section-header-title">Experience</H2>
      <Paragraph slot="section-header-paragraph">
        Throughout my career, I’ve always worn multiple hats and blurred
        functional boundaries—usually out of necessity, and other times for the
        joy of building.
      </Paragraph>
    </SectionHeader>
    <SectionContent>
      <div class="flex w-full flex-col gap-4 md:flex-row">
        <ExperienceCard
          class="fill-blue-400 text-blue-400 hover:-rotate-2"
          iconName="microscope"
          title="Discovery"
          description="Utilizing research to validate new ideas, and explore markets."
        />
        <ExperienceCard
          class="fill-green-400 text-green-400 hover:rotate-2"
          iconName="palette"
          title="Design"
          description="Crafting delightful user interfaces with rapid ideation."
        />
      </div>
      <div class="flex w-full flex-col gap-4 md:flex-row">
        <ExperienceCard
          class="fill-amber-400 text-amber-400 hover:-rotate-2"
          iconName="component"
          title="Leadership"
          description="Using data to refine strategy, judge impact and measure growth."
        />
        <ExperienceCard
          class="fill-red-400 text-red-400 hover:rotate-2"
          iconName="puzzle-piece"
          title="Product"
          description="Building strong team culture through rituals that create conviction."
        />
      </div>
    </SectionContent>
  </Section>

  <Section id="services">
    <SectionHeader>
      <Icon
        slot="section-header-icon"
        name="layers"
        shape-rendering="geometricPrecision"
        class="h-10 w-10 "
      />
      <H2 slot="section-header-title">Services</H2>
      <Paragraph slot="section-header-paragraph">
        I provide structured engagements, driven by a deep desire to help both
        product organizations and designers build up operational effectiveness.
      </Paragraph>
    </SectionHeader>
    <SectionContent class="gap-y-5">
      <ServicesCard class="bg-pink-400 fill-pink-400 text-pink-400">
        <Icon
          slot="services-card-icon"
          name="anchor"
          shape-rendering="geometricPrecision"
          class="h-10 w-10 "
        />
        <H3 slot="services-card-title">Coaching</H3>
        <Paragraph slot="services-card-description" class="text-neutral-50">
          Perfect for designers seeking help to navigate their role or career. I
          support individuals on a range of product and brand design topics.
        </Paragraph>
        <ButtonLink
          slot="services-card-footer-button"
          class="bg-pink-600 hover:bg-pink-700"
        >
          Subscribe
        </ButtonLink>
        <Paragraph
          slot="services-card-footer-description"
          class="inline-block tracking-wide text-neutral-400"
        >
          From $180 USD / session
        </Paragraph>
      </ServicesCard>
      <ServicesCard class="bg-violet-400 fill-violet-400 text-violet-400">
        <Icon
          slot="services-card-icon"
          name="palette"
          shape-rendering="geometricPrecision"
          class="h-10 w-10 "
        />
        <H3 slot="services-card-title">Design Support</H3>
        <Paragraph slot="services-card-description" class="text-neutral-50">
          Need hands-on design support that doesn't fit in to an existing
          engagement? Just reach out.
        </Paragraph>
        <ButtonLink
          slot="services-card-footer-button"
          class="bg-violet-600 text-center hover:bg-violet-700"
        >
          Inquire Now
        </ButtonLink>
        <Paragraph
          slot="services-card-footer-description"
          class="inline-block tracking-wide text-neutral-400"
        >
          From $800 USD / day
        </Paragraph>
      </ServicesCard>
      <ServicesCard class="bg-blue-400 fill-blue-400 text-blue-400">
        <Icon
          slot="services-card-icon"
          name="chart-pie"
          shape-rendering="geometricPrecision"
          class="h-10 w-10 "
        />
        <H3 slot="services-card-title">Fractional Leadership</H3>
        <Paragraph slot="services-card-description" class="text-neutral-50">
          For organizations seeking to develop or grow an existing design
          function. I support your executive team on strategy, hiring,
          operations and more.
        </Paragraph>
        <ButtonLink
          slot="services-card-footer-button"
          class="bg-blue-600 text-center hover:bg-blue-700"
        >
          Book a Call
        </ButtonLink>
        <Paragraph
          slot="services-card-footer-description"
          class="inline-block tracking-wide text-neutral-400"
        >
          Custom pricing
        </Paragraph>
      </ServicesCard>
    </SectionContent>
  </Section> -->

<!-- <Section id="question">
    <SectionHeader iconName="help-square" title="Questions?" />
  </Section> -->

<!-- <Section id="about">
    <SectionHeader>
      <Icon
        slot="section-header-icon"
        name="person-circle"
        shape-rendering="geometricPrecision"
        class="h-10 w-10 "
      />
      <H2 slot="section-header-title">About</H2>
      <Fragment slot="section-header-paragraph">
        <Paragraph>
          Curious to know more? Over the past 13 years, I’ve worked across
          various cultures and languages, in-person and remotely, in Oceania,
          North America, and Asia.
        </Paragraph>
        <Paragraph>
          During this time, I’ve designed interfaces and worked on products
          which are used by millions, at a number of innovative companies. I’ve
          also managed individuals and led teams to take new products to market.
        </Paragraph>
        <Paragraph>
          These experiences have taught me that great design is the result of
          even better synthesis—the artful understanding of data, people, and
          the real world. A learning that now shapes my approach, emphasizing
          observation and outcomes over mere output.
        </Paragraph>
        <Paragraph>
          If you’d like to get in touch <Link href="mailto:hi@jonathontoon.com">
            via email
          </Link> I’m always happy to write back. Otherwise connect with me over
          on <Link href="https://www.read.cv/toon">ReadCV</Link>, <Link
            href="https://www.linkedin.com/jonathontoon"
          >
            LinkedIn
          </Link> or <span class="line-through">Twitter</span>
          <Link href="https://www.twitter.com/jonathontoon">X</Link>.
        </Paragraph>
        <Paragraph>Speak with you soon.</Paragraph>
      </Fragment>
    </SectionHeader>
  </Section> -->
