---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

export interface Props extends HTMLAttributes<"button"> {
  class?: string;
  disabled?: boolean;
}

const { class: className = "", disabled = false, type = "button", ...attrs } = Astro.props;
---

<button class={cn("cursor-pointer", className)} type={type} disabled={disabled} {...attrs}>
  <slot />
</button>
