---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"form"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<form class:list={[className]} {...attrs}>
  <slot />
</form>
