---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"form"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<form class={cn(className)} {...attrs}>
  <slot />
</form>
