---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"h2"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<h2 class={cn("font-primary leading-tight tracking-normal", className)} {...attrs}>
  <slot />
</h2>
