---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h4"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<h4 class:list={["font-primary leading-tight tracking-normal", className]} {...attrs}>
  <slot />
</h4>
