---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"label"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<label class={cn(className)} {...attrs}>
  <slot />
</label>
