---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"label"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<label class:list={[className]} {...attrs}>
  <slot />
</label>
