---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<p class:list={[className, "text-pretty leading-snug"]} {...attrs}>
  <slot />
</p>
