---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"table"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<table class:list={["w-full border-collapse text-left", className]} {...attrs}>
  <slot />
</table>
