---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"table"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<table class={cn("w-full border-collapse text-left", className)} {...attrs}>
  <slot />
</table>
