---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import ListItem from "@components/ListItem.astro";

interface Props extends HTMLAttributes<"li"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<ListItem {...attrs} class:list={["bg-zinc-200", "rounded-xl", className]}>
  <details class:list={["cursor-pointer"]}>
    <summary class:list={["list-none"]}>
      <div
        class:list={[
          "flex",
          "select-none",
          "flex-row",
          "items-center",
          "justify-between",
          "p-4"
        ]}
      >
        <slot name="collapsable-list-item-title" />
        <div class="pl-2">
          <Icon
            name="plus"
            data-icon="plus"
            shape-rendering="geometricPrecision"
            class:list={["h-7", "w-7", "text-zinc-950"]}
          />
          <Icon
            name="minus"
            data-icon="minus"
            shape-rendering="geometricPrecision"
            class:list={["h-7", "w-7", "text-zinc-950", "hidden"]}
          />
        </div>
      </div>
    </summary>
    <div class:list={["p-4", "pt-0"]}>
      <slot name="collapsable-list-item-description" />
    </div>
  </details>
</ListItem>

<script>
  const detailElements: NodeListOf<HTMLDetailsElement> =
    document.querySelectorAll("details");

  const toggleIcons = (detailElement: HTMLDetailsElement, isOpen: boolean) => {
    const plusIcon: SVGElement = detailElement.querySelector(
      '[data-icon="plus"]'
    ) as SVGElement;
    const minusIcon: SVGElement = detailElement.querySelector(
      '[data-icon="minus"]'
    ) as SVGElement;

    if (isOpen) {
      plusIcon.classList.add("hidden");
      minusIcon.classList.remove("hidden");
    } else {
      plusIcon.classList.remove("hidden");
      minusIcon.classList.add("hidden");
    }
  };

  detailElements.forEach((detailElement: HTMLDetailsElement) => {
    detailElement.addEventListener("toggle", () => {
      // Close all other details elements except the current if it is opening
      if (detailElement.open) {
        detailElements.forEach((otherDetailElement: HTMLDetailsElement) => {
          if (otherDetailElement !== detailElement) {
            if (otherDetailElement.open) {
              otherDetailElement.open = false;
              toggleIcons(otherDetailElement, false); // Reset icons as it closes
            }
          }
        });
        toggleIcons(detailElement, true);
      } else {
        toggleIcons(detailElement, false);
      }
    });
  });
</script>
