---
import type { HTMLAttributes } from "astro/types"
import { Icon } from "astro-icon/components"

import H3 from "@components/H3.astro"
import Paragraph from "@components/Paragraph.astro"

interface Props extends HTMLAttributes<"div"> {
  class?: string
  iconName: string
  title: string
  description: string
}

const {
  class: classList = "",
  iconName,
  title,
  description,
  ...attrs
} = Astro.props
---

<div
  {...attrs}
  class:list={`max-w-50 flex w-full flex-col justify-between rounded-2xl border-2 p-4 ${classList}`}
>
  <Icon
    name={iconName}
    size={32}
    shape-rendering={"geometricPrecision"}
    width={32}
    height={32}
    viewBox={"0 0 32 32"}
  />
  <div class="mt-8">
    <H3 class="mb-2">
      {title}
    </H3>
    <Paragraph class="!mb-0 !leading-5 text-zinc-50">
      {description}
    </Paragraph>
  </div>
</div>
