---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

import H3 from "@components/H3.astro";
import Paragraph from "@components/Paragraph.astro";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  iconName: string;
  title: string;
  description: string;
}

const {
  class: classList = "",
  iconName,
  title,
  description,
  ...attrs
} = Astro.props;
---

<div
  {...attrs}
  class:list={[
    "max-w-50 flex h-min w-full rotate-0 cursor-pointer flex-col flex-nowrap items-center justify-start gap-1 rounded-[1.25rem] p-[0.2rem] transition-transform duration-300",
    classList
  ]}
>
  <div
    class="flex h-min flex-1 flex-col flex-nowrap items-start justify-center gap-2 space-y-4 rounded-2xl bg-black p-4"
  >
    <Icon
      name={iconName}
      shape-rendering="geometricPrecision"
      class="h-6 w-6"
    />
    <div class="space-y-1">
      <H3>
        {title}
      </H3>
      <Paragraph class="!text-sm !leading-5 text-zinc-50 lg:!text-base">
        {description}
      </Paragraph>
    </div>
  </div>
</div>
