---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"h2"> {
  class?: string;
}

const { class: classList = "", ...attrs } = Astro.props;
---

<h2
  {...attrs}
  class:list={[
    twMerge(
      "m-0 align-middle text-base font-semibold uppercase leading-tight tracking-wider",
      classList
    )
  ]}
>
  <slot />
</h2>
