---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"h2"> {
  class?: string;
}

const { class: classList = "", ...attrs } = Astro.props;
---

<h2
  {...attrs}
  class:list={[
    twMerge(
      "leading-tighter font-sans-narrow m-0 align-middle text-lg font-medium uppercase tracking-normal text-zinc-100",
      classList
    )
  ]}
>
  <slot />
</h2>
