---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"h3"> {
  class?: string;
}

const { class: classList = "", ...attrs } = Astro.props;
---

<h3
  {...attrs}
  class:list={[
    twMerge("m-0 align-middle text-base font-normal tracking-normal", classList)
  ]}
>
  <slot />
</h3>
