---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"h4"> {
  class?: string;
}

const { class: classList = "", ...attrs } = Astro.props;
---

<h4
  {...attrs}
  class:list={[
    twMerge(
      "m-0 align-middle font-sans text-lg font-medium tracking-normal",
      classList
    )
  ]}
>
  <slot />
</h4>
