---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"h2"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<h2
  class={cn(
    "text-stone-900 dark:text-stone-100 leading-tighter tracking-normal font-bold text-3xl",
    className
  )}
  {...attrs}
>
  <slot />
</h2>
