---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"h3"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<h3
  class={cn(
    "text-stone-900 dark:text-stone-100 leading-tight tracking-normal text-2xl font-bold",
    className
  )}
  {...attrs}
>
  <slot />
</h3>
