---
import type { HTMLAttributes } from "astro/types";
import ListItem from "@components/ListItem.astro";

interface Props extends HTMLAttributes<"li"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<ListItem {...attrs} class:list={[className]}>
  <div class:list={["flex", "flex-col", "justify-center", "gap-6", "pl-0"]}>
    <div class:list={["flex", "flex-col", "justify-start"]}>
      <slot name="icon" />
    </div>
    <slot />
  </div>
</ListItem>
