---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
  class?: string;
}

const { class: classList = "", ...attrs } = Astro.props;
---

<p
  {...attrs}
  class:list={[
    "text-pretty text-base font-normal leading-snug tracking-normal [:where(&)]:text-zinc-400",
    classList
  ]}
>
  <slot />
</p>
