---
import SquareImageLarge from "./SquareImageLarge.astro";
import View from "./View.astro";

interface Props {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<View
  class={`hover:translate-y-0.5 transition-transform duration-300 ease-in-out flex relative group overflow-hidden rounded-2xl md:rounded-3xl ${className}`}
>
  <div class="flex h-32 w-32 flex-col overflow-hidden group-hover:-translate-y-32 md:h-36 md:w-36 md:group-hover:-translate-y-36">
    <SquareImageLarge
      class="h-32 w-32 bg-blue-500 md:h-36 md:w-36 dark:bg-blue-500"
      src="/images/profile.png"
      alt="Jonathon Toon"
      loading="eager"
      {...attrs}
    />
    <SquareImageLarge
      class="h-32 w-32 bg-blue-500 md:h-36 md:w-36 dark:bg-blue-500"
      src="/images/profile-blink.png"
      alt="Jonathon Toon"
      loading="eager"
      {...attrs}
    />
  </div>
</View>
