---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"section"> {
  class?: string
}

const { class: classList, ...attrs } = Astro.props
---

<section {...attrs} class:list={["space-y-8", classList]}>
  <slot />
</section>
