---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<section
  {...attrs}
  class:list={[
    "flex",
    "w-full",
    "flex-col",
    "flex-nowrap",
    "justify-start",
    "px-6"
  ]}
>
  <div
    class:list={[
      "mx-auto",
      "max-w-md",
      "space-y-5",
      "sm:space-y-10",
      className
    ]}
  >
    <slot />
  </div>
</section>
