---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<section
  {...attrs}
  class:list={[
    "flex",
    "w-full",
    "flex-col",
    "flex-nowrap",
    "justify-start",
    "px-6",
    className
  ]}
>
  <div
    class:list={[
      "my-16",
      "sm:my-24",
      "mx-auto",
      "max-w-xl",
      "space-y-12",
      "sm:!space-y-16"
    ]}
  >
    <slot />
  </div>
</section>
