---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"section"> {
  class?: string;
}

const { class: classList, ...attrs } = Astro.props;
---

<section
  {...attrs}
  class:list={[
    twMerge(
      "flex w-full flex-col flex-nowrap justify-start overflow-visible",
      classList
    )
  ]}
>
  <slot />
</section>
