---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: classList, ...attrs } = Astro.props;
---

<div
  {...attrs}
  class:list={[
    twMerge("bg-rainbow mx-8 flex h-px flex-row rounded-full", classList)
  ]}
>
  <slot />
</div>
