---
import type { HTMLAttributes } from "astro/types";
import ListItem from "@components/ListItem.astro";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: classList = "", title, ...attrs } = Astro.props;
---

<ListItem class="flex flex-col space-y-4 rounded-xl bg-slate-900 p-4">
  <slot name="services-card-sub-title" />
  <div class="space-y-3">
    <slot name="services-card-price" />
    <div
      class="flex flex-col items-start space-y-2 pb-2 sm:flex-row sm:items-center sm:space-x-4 sm:space-y-0"
    >
      <slot name="services-card-button" />
      <slot name="services-card-conditions" />
    </div>
  </div>
  <slot name="services-card-description" />
</ListItem>
