---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"p"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<p
  class={cn("text-pretty leading-snug text-stone-700 dark:text-stone-400 text-xl", className)}
  {...attrs}
>
  <slot />
</p>
