---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@utils/cn";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<div class={cn(className)} {...attrs}>
  <slot />
</div>
