---
import Link from "@components/Link.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";

const getFormattedDate = (): string => {
  const date = new Date();
  const options: Intl.DateTimeFormatOptions = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric"
  };
  return date.toLocaleDateString("en-US", options);
};
---

<Section id="colophon" class="mb-6 sm:mb-16">
  <Paragraph>
    All content provided under the <Link
      aria-label="CC BY-NC 3.0"
      target="_blank"
      href="https://creativecommons.org/licenses/by-nc/4.0/"
    >
      CC BY-NC 3.0
    </Link> license and was last updated {getFormattedDate}. It was all
    delivered to you via <Link
      aria-label="Cloudflare"
      target="_blank"
      href="https://www.cloudflare.com/application-services/products/cdn/"
    >
      Cloudflare
    </Link> and built using the open-source framework <Link
      aria-label="AstroJS"
      target="_blank"
      href="https://astro.build/"
    >
      AstroJS
    </Link>.
  </Paragraph>
  <Paragraph class="!indent-4">
    The icons used throughout this page were designed by Marek Minor and can be
    purchased <Link
      aria-label="purchased"
      target="_blank"
      href="https://gumroad.com/a/218413075/egyte"
    >
      here
    </Link>.
  </Paragraph>
  <Paragraph>Thanks for stopping by.</Paragraph>
</Section>
