---
import H2 from "@components/H2.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
---

<Section id="colophon">
  <div class="space-y-2">
    <H2>Colophon</H2>
    <div class="space-y-1">
      <Paragraph>
        If you’d like to get in touch via email I’m always happy to write back.
        Otherwise feel free to connect with me over on ReadCV, LinkedIn or X.
        Speak with you soon.
      </Paragraph>
    </div>
  </div>
</Section>
