---
import { Icon } from "astro-icon/components";
import Section from "@components/Section.astro";
import List from "@components/List.astro";
import ListItem from "@components/ListItem.astro";
---

<Section id="companies">
  <List class="!w-full !flex-row !items-center !justify-evenly space-x-6">
    <ListItem>
      <Icon
        name="moneytree"
        shape-rendering="geometricPrecision"
        class="h-6 w-auto text-slate-600"
      />
    </ListItem>
    <ListItem>
      <Icon
        name="meta"
        shape-rendering="geometricPrecision"
        class="h-5 w-auto text-slate-600"
      />
    </ListItem>
    <ListItem>
      <Icon
        name="xero"
        shape-rendering="geometricPrecision"
        class="h-5 w-auto text-slate-600"
      />
    </ListItem>
    <!-- <ListItem>
      <Icon
        name="rainforestqa"
        shape-rendering="geometricPrecision"
        class="h-7 w-auto text-slate-600"
      />
    </ListItem>
    <ListItem>
      <Icon
        name="origami"
        shape-rendering="geometricPrecision"
        class="h-7 w-auto text-slate-600"
      />
    </ListItem> -->
    <ListItem class="hidden sm:flex">
      <Icon
        name="resn"
        shape-rendering="geometricPrecision"
        class="h-5 w-auto text-slate-600"
      />
    </ListItem>
  </List>
</Section>
