---
import H2 from "@components/H2.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
---

<Section id="connect">
  <H2>Connect</H2>
  <Paragraph>
    If you’d like to get in touch via email I’m always happy to write back.
    Otherwise feel free to connect with me over on ReadCV, LinkedIn or X. Speak
    with you soon.
  </Paragraph>
</Section>
