---
import H2 from "@components/H2.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
---

<Section id="connect" class="pb-20">
  <div class="space-y-2">
    <H2>Connect</H2>
    <div class="space-y-1">
      <Paragraph>
        You can usually find or contact with me on most of the internet’s common
        meeting places. Otherwise here are the more reliable ways to reach me.
      </Paragraph>
    </div>
  </div>
</Section>
