---
import { Icon } from "astro-icon/components";
import H2 from "@components/H2.astro";
import List from "@components/List.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
import ListItem from "@components/ListItem.astro";
---

<Section id="experience">
  <div class="space-y-2">
    <H2>Background</H2>
    <div class="space-y-1">
      <Paragraph>
        For over 13+ years as a creative professional, I’ve consistently worn
        multiple hats and blurred functional boundaries. Usually out of
        necessity, and other times for the joy of building.
      </Paragraph>
      <Paragraph class="indent-4">
        During this time, I’ve had the privilege of designing web and mobile
        interfaces, building new products, and leading product and design teams
        at innovative companies across Asia, North America, and Oceania.
      </Paragraph>
    </div>
    <List
      class="grid grid-cols-2 grid-rows-3 justify-items-stretch gap-2 rounded-xl bg-zinc-900 p-2 sm:grid-cols-3 sm:grid-rows-2"
    >
      <ListItem
        class="flex aspect-square items-center justify-center justify-self-auto rounded-lg bg-[#11A629]"
      >
        <Icon
          name="moneytree"
          shape-rendering="geometricPrecision"
          class="h-5 w-full text-white"
        />
      </ListItem>
      <ListItem
        class="flex aspect-square items-center justify-center justify-self-auto rounded-lg bg-zinc-800"
      >
        <Icon
          name="meta"
          shape-rendering="geometricPrecision"
          class="h-5 w-full text-white"
        />
      </ListItem>
      <ListItem
        class="flex aspect-square items-center justify-center justify-self-auto rounded-lg bg-zinc-800"
      >
        <Icon
          name="meta"
          shape-rendering="geometricPrecision"
          class="h-5 w-full text-white"
        />
      </ListItem>
      <ListItem
        class="flex aspect-square items-center justify-center justify-self-auto rounded-lg bg-zinc-800"
      >
        <Icon
          name="meta"
          shape-rendering="geometricPrecision"
          class="h-5 w-full text-white"
        />
      </ListItem>
      <ListItem
        class="flex aspect-square items-center justify-center justify-self-auto rounded-lg bg-[#0081FB]"
      >
        <Icon
          name="meta"
          shape-rendering="geometricPrecision"
          class="h-5 w-full text-white"
        />
      </ListItem>
      <ListItem
        class="flex aspect-square items-center justify-center justify-self-auto rounded-lg bg-zinc-800"
      >
        <Icon
          name="meta"
          shape-rendering="geometricPrecision"
          class="h-5 w-full text-white"
        />
      </ListItem>
    </List>
  </div>
  <!-- 
  <List class="flex-row flex-wrap">
    <IconListItem
      class="cursor-pointer rounded-xl border-2 border-blue-600 p-6"
    >
      <Icon
        slot="icon"
        name="microscope"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-blue-200"
      />
      <Paragraph class="text-lg font-semibold leading-snug text-blue-50">
        Keep customer first and market forward with regular discovery.
      </Paragraph>
    </IconListItem>
    <IconListItem class="cursor-pointer bg-purple-600 p-4">
      <Icon
        slot="icon"
        name="puzzle-piece"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-purple-200"
      />
      <Paragraph class="text-lg font-semibold leading-snug text-purple-50">
        Driving growth, throughput, engagement with data-driven tactics,
        frameworks and experiments.
      </Paragraph>
    </IconListItem>
    <IconListItem class="cursor-pointer bg-red-600 p-4">
      <Icon
        slot="icon"
        name="palette"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-red-200"
      />
      <Paragraph class="text-lg font-semibold leading-snug text-red-50">
        Crafting delightfully functional user interfaces across mobile and web
        through rapid ideation and iteration.
      </Paragraph>
    </IconListItem>
    <IconListItem class="bg-yellow-1000 cursor-pointer p-4">
      <Icon
        slot="icon"
        name="component"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-yellow-500 md:h-7 md:w-7"
      />
      <Paragraph class="text-yellow-50">
        Cultivating strong product team culture with rituals that develop
        conviction and establish ownership.
      </Paragraph>
    </IconListItem>
  </List> -->
</Section>
