---
import { Icon } from "astro-icon/components";
import H2 from "@components/H2.astro";
import IconListItem from "@components/IconListItem.astro";
import List from "@components/List.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
---

<Section id="experience">
  <H2 class="mb-2">Experience</H2>
  <Paragraph>
    Throughout my career, I’ve consistently worn multiple hats and blurred
    functional boundaries. Usually out of necessity, and other times for the joy
    of building.
  </Paragraph>
  <Paragraph class="indent-4">
    Such work has shown me that good design is the result of even greater
    synthesis—the artful blend of data, people, and the real world. This
    learning now shapes how I work.
  </Paragraph>
  <List>
    <IconListItem class="rounded-2xl bg-slate-900 p-4">
      <Icon
        slot="icon"
        name="microscope"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-blue-500 md:h-7 md:w-7"
      />
      <Paragraph>
        Keeping customer-first and market-forward through regular product
        discovery and user research.
      </Paragraph>
    </IconListItem>
    <IconListItem class="rounded-2xl bg-slate-900 p-4">
      <Icon
        slot="icon"
        name="puzzle-piece"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-amber-500 md:h-7 md:w-7"
      />
      <Paragraph>
        Driving growth, throughput, engagement with data-driven tactics,
        frameworks and experiments.
      </Paragraph>
    </IconListItem>
    <IconListItem class="rounded-2xl bg-slate-900 p-4">
      <Icon
        slot="icon"
        name="palette"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-red-500 md:h-7 md:w-7"
      />
      <Paragraph>
        Crafting delightfully functional user interfaces across mobile and web
        through rapid ideation and iteration.
      </Paragraph>
    </IconListItem>
    <IconListItem class="rounded-2xl bg-slate-900 p-4">
      <Icon
        slot="icon"
        name="component"
        shape-rendering="geometricPrecision"
        class="h-8 w-8 text-green-500 md:h-7 md:w-7"
      />
      <Paragraph>
        Cultivating strong product team culture with rituals that develop
        conviction and establish ownership.
      </Paragraph>
    </IconListItem>
  </List>
</Section>
