---
import Section from "@components/Section.astro";
import Paragraph from "@components/Paragraph.astro";
import H1 from "@components/H1.astro";
import Circle from "@components/Circle.astro";
---

<Section id="introduction">
  <Fragment>
    <Circle class="mb-20 sm:my-24" />
    <H1 class="mb-16 sm:mb-8">
      Great design is the result of even <span
        class="font-serif font-light italic">greater synthesis</span
      >—the artful blend of data, people, and the real world.
    </H1>
  </Fragment>
  <Fragment>
    <div class="space-y-1">
      <Paragraph>
        Nice to meet you, I’m Jonathon Toon. A software designer, with strong
        practical experience working on product, research, engineering,
        strategy, and brand, while operating across the organizational stack.
      </Paragraph>
      <Paragraph class="indent-4">
        Today, I live in Aotearoa New Zealand. Where I work with technology
        companies to solve problems. While supporting individual designers with
        coaching and mentorship.
      </Paragraph>
    </div>
  </Fragment>
</Section>
