---
import Section from "@components/Section.astro";
import Header from "@components/Header.astro";
import H1 from "@components/H1.astro";
import H2 from "@components/H2.astro";
import Paragraph from "@components/Paragraph.astro";
import Availability from "./Availability.astro";
---

<Section id="introduction">
  <Header class="flex flex-col">
    <H1 class="!text-xl !font-semibold !leading-normal sm:!text-2xl">
      Jonathon Toon
    </H1>
    <Paragraph class="!text-xl !leading-normal sm:!text-2xl">
      Software Designer
    </Paragraph>
  </Header>

  <H2 class="!text-3xl !font-normal sm:!text-4xl sm:!leading-tight">
    Good design is the result of even <span class="font-serif font-light italic"
      >better synthesis</span
    >—the artful blend of data, context, and the real world.
  </H2>

  <div class="space-y-1 sm:space-y-2">
    <Paragraph>
      Nice to meet you, I’m Jonathon. A versatile design leader, who has strong
      practical experience across product, engineering, research, strategy, and
      go-to-market.
    </Paragraph>
    <Paragraph class="!indent-4">
      Today, I live in Aotearoa New Zealand. Where I work with technology
      companies, to solve problems. While supporting individual designers with
      coaching and mentorship.
    </Paragraph>
  </div>

  <Availability />
</Section>
