---
import { Icon } from "astro-icon/components";
import H2 from "@components/H2.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
import ServicesList from "@components/ServicesList.astro";
import ServicesListItem from "@components/ServicesListItem.astro";
import CollapsableList from "@components/CollapsableList.astro";
import CollapsableListItem from "@components/CollapsableListItem.astro";
import H3 from "@components/H3.astro";
import Link from "@components/Link.astro";
import ButtonLink from "@components/ButtonLink.astro";
---

<Section id="services" class="">
  <div class="space-y-1 sm:space-y-2">
    <Paragraph>
      Now, I focus my time on empowering others. Drawing on my experience
      designing for both consumers and businesses, I offer coaching to creative
      individuals and provide fractional leadership to high-performing teams.
    </Paragraph>
    <Paragraph class="!indent-4">
      With each engagement, I aim to provide support with humility and respect.
      I equip people with personal tools to navigate ambiguity, develop a bias
      for impact, and create products that people love.
    </Paragraph>
  </div>
  <div class="flex flex-col space-y-6">
    <ServicesList class="!bg-blue-50">
      <ServicesListItem class="!bg-blue-200">
        <div
          class="flex flex-col space-y-1 sm:flex-row sm:items-center sm:justify-between sm:space-y-0"
        >
          <H3 class="!flex !flex-row !items-center !gap-2">
            <Icon
              name="person"
              shape-rendering="geometricPrecision"
              class="h-6 w-6 text-slate-950"
            />
            For Individuals
          </H3>
          <Paragraph class="!text-lg sm:!text-xl">
            $380 USD <sup>per month</sup>
          </Paragraph>
        </div>
        <Paragraph class="!leading-snug">
          Perfect for designers seeking practical support to shine in their
          current job, move up in their career, or keep up with the fast-paced
          design world.
        </Paragraph>
        <div
          class="flex flex-col items-start gap-4 sm:flex-row sm:items-center sm:gap-6"
        >
          <ButtonLink
            target="_blank"
            href="https://buy.stripe.com/4gw5oo7HPbuybyE288"
            >Subscribe</ButtonLink
          >
          <Paragraph class="!text-base !text-slate-600">
            Pause or cancel any time.
          </Paragraph>
        </div>
      </ServicesListItem>
    </ServicesList>
    <CollapsableList class="!bg-blue-50">
      <!-- <CollapsableListItem
        class="transition-color !bg-blue-200 duration-300 hover:!bg-blue-300"
      >
        <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
          What support can I expect to receive?
        </Paragraph>
        <Paragraph slot="collapsable-list-item-description">
          Your subscription is handled through Stripe. Upon subscribing, you’ll
          receive a welcome email which will contain a link to log into your
          customer portal. Or, just <Link
            aria-label="log in here"
            target="_blank"
            href="https://billing.stripe.com/p/login/eVa0348SGd69eRO000"
            >log in here</Link
          >.
        </Paragraph>
      </CollapsableListItem> -->
      <CollapsableListItem
        class="transition-color !bg-blue-200 duration-300 hover:!bg-blue-300"
      >
        <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
          What if I'm not sure if this is for me?
        </Paragraph>
        <Paragraph slot="collapsable-list-item-description">
          I happily offer a free 30-minute session, hosted on ADPList, to
          introduce myself and discuss your goals. <Link
            aria-label="Book a call"
            target="_blank"
            href="https://adplist.org/mentors/jonathon-toon?session=20034-casual-chat"
            >Book a call</Link
          >.
        </Paragraph>
      </CollapsableListItem>
      <CollapsableListItem
        class="transition-color !bg-blue-200 duration-300 hover:!bg-blue-300"
      >
        <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
          After I subscribe what happens?
        </Paragraph>
        <Paragraph slot="collapsable-list-item-description">
          Once paid through Stripe you’ll receive a welcome email which includes
          a unique link to schedule your first session and an invite for a
          one-on-one chat thread.
        </Paragraph>
      </CollapsableListItem>
      <!-- <CollapsableListItem
        class="transition-color !bg-blue-200 duration-300 hover:!bg-blue-300"
      >
        <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
          How do I cancel my subscription?
        </Paragraph>
        <Paragraph slot="collapsable-list-item-description">
          All payments are managed through Stripe, once subscribed you will be
          able to log in to their
          <Link
            aria-label="log in here"
            target="_blank"
            href="https://billing.stripe.com/p/login/eVa0348SGd69eRO000"
            >customer portal</Link
          > to adjust any details or cancel your current subscription. If you subscribe
          again we can pick right back up where we left off.
        </Paragraph>
      </CollapsableListItem> -->
      <CollapsableListItem
        class="transition-color !bg-blue-200 duration-300 hover:!bg-blue-300"
      >
        <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
          Do you provide any discounts?
        </Paragraph>
        <Paragraph slot="collapsable-list-item-description">
          If you are you a student, work at a non-profit, or are based in a
          location with an exceedingly high exchange rate.
          <Link
            aria-label="Send me an email"
            href="mailto:hi@jonathontoon.com?subject=Mentorship Pricing"
          >
            Send me an email
          </Link> to discuss an alternative price.
        </Paragraph>
      </CollapsableListItem>
      <CollapsableListItem
        class="transition-color !bg-blue-200 duration-300 hover:!bg-blue-300"
      >
        <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
          How can I manage my subscription?
        </Paragraph>
        <div
          slot="collapsable-list-item-description"
          class="flex flex-col space-y-4"
        >
          <Paragraph>
            Your subscription is managed through Stripe. Once you subscribe,
            you’ll receive a welcome email containing a link to access your
            customer portal. Alternatively, you can <Link
              target="_blank"
              href="https://billing.stripe.com/p/login/bIY2apa8E6cRfe0288"
              >log in directly here</Link
            >
          </Paragraph>
          <Paragraph>
            If you decide to cancel your current subscription, and resubscribe
            at a later date, we will pick right back up where we left off.
          </Paragraph>
        </div>
      </CollapsableListItem>
    </CollapsableList>
    <div class="flex flex-col space-y-6">
      <ServicesList class="!bg-sky-50">
        <ServicesListItem class="!bg-sky-200">
          <div
            class="flex flex-col space-y-1 sm:flex-row sm:items-center sm:justify-between sm:space-y-0"
          >
            <H3 class="!flex !flex-row !items-center !gap-2">
              <Icon
                name="people"
                shape-rendering="geometricPrecision"
                class="h-6 w-6 text-slate-950"
              />
              For Teams
            </H3>
            <Paragraph class="!text-lg sm:!text-xl">
              $800 USD <sup>per day</sup>
            </Paragraph>
          </div>
          <Paragraph class="!leading-snug">
            Perfect for teams aiming to establish a design function, seeking
            advice on research, or requiring assistance with launching a new 0-1
            product.
          </Paragraph>
          <div
            class="flex flex-col items-start gap-4 sm:flex-row sm:items-center sm:gap-6"
          >
            <ButtonLink
              aria-label="Book a Call"
              target="_blank"
              href="https://cal.com/jonathon-toon/30-min"
              >Book a Call</ButtonLink
            >
            <Paragraph class="!text-base !text-slate-600">
              Minimums may apply.
            </Paragraph>
          </div>
        </ServicesListItem>
      </ServicesList>
      <CollapsableList class="!bg-sky-50">
        <!-- <CollapsableListItem
          class="transition-color !bg-sky-200 duration-300 hover:!bg-sky-300"
        >
          <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
            What support can my team expect to receive?
          </Paragraph>
          <Paragraph slot="collapsable-list-item-description">
            Your subscription is handled through Stripe. Upon subscribing,
            you’ll receive a welcome email which will contain a link to log into
            your customer portal. Or, just log in here.
          </Paragraph>
        </CollapsableListItem> -->
        <CollapsableListItem
          class="transition-color !bg-sky-200 duration-300 hover:!bg-sky-300"
        >
          <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
            How long does it take to receive a quote?
          </Paragraph>
          <Paragraph slot="collapsable-list-item-description">
            After an initial call, or email exhange, where you define the
            statement of work, I can prepare a quote for you in 3 business days.
          </Paragraph>
        </CollapsableListItem>
        <CollapsableListItem
          class="transition-color !bg-sky-200 duration-300 hover:!bg-sky-300"
        >
          <Paragraph slot="collapsable-list-item-title" class="!font-semibold">
            Do you provide any discounts?
          </Paragraph>
          <Paragraph slot="collapsable-list-item-description">
            If you run a pre-seed startup, a non-profit, or are based in a
            location with an exceedingly high exchange rate.
            <Link
              aria-label="Send me an email"
              href="mailto:hi@jonathontoon.com?subject=Fractional Leadership Pricing"
            >
              Send me an email
            </Link> to discuss an alternative price.
          </Paragraph>
        </CollapsableListItem>
      </CollapsableList>
    </div>
  </div>
</Section>
