---
import { H3 } from "@components/base";

interface Props {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<H3 class={`text-base font-semibold ${className}`} {...attrs}>
  <slot />
</H3>