---
import { Link, Div, ListItem } from "@components/base";

interface Props {
  href?: string;
  target?: string;
  class?: string;
}

const { 
  href, 
  target,
  class: className = "", 
  ...attrs 
} = Astro.props;
---

<ListItem class={className} {...attrs}>
  {href ? (
    <Link 
      href={href}
      target={target}
      class="no-underline hover:bg-stone-950/5 duration-200 ease-out transition-all p-1 flex flex-row gap-x-2 justify-between rounded-2xl"
    >
      <Div class="flex flex-row gap-x-3">
        <slot name="image" />
        <Div class="flex flex-col justify-center">
          <slot name="content" />
        </Div>
      </Div>
      <slot name="action" />
    </Link>
  ) : (
    <Div class="p-1 flex flex-row gap-x-2 justify-between">
      <Div class="flex flex-row gap-x-3">
        <slot name="image" />
        <Div class="flex flex-col justify-center">
          <slot name="content" />
        </Div>
      </Div>
      <slot name="action" />
    </Div>
  )}
</ListItem>