---
import { Icon } from "astro-icon/components";
import { Div } from "@components/base";

interface Props {
  class?: string;
}

const { class: className = "", ...attrs } = Astro.props;
---

<Div class={className} {...attrs}>
  <Icon name="stroke-arrow-small-right" class="text-stone-400 w-6 h-full aspect-square" />
</Div>