---
import { Image, Div } from "@components/base";

interface Props {
  src?: string;
  alt?: string;
  class?: string;
}

const { src, alt, class: className = "", ...attrs } = Astro.props;
---

<Div class="w-16 h-16 flex-shrink-0">
  {src ? (
    <Image 
      src={src} 
      alt={alt || ""} 
      class={`bg-stone-200 w-16 h-16 rounded-xl ${className}`}
      {...attrs}
    />
  ) : (
    <slot>Image</slot>
  )}
</Div>