---
import { Link, Div } from "@components/base";

interface Props {
  href: string;
  target?: string;
}

const { href, target = "_blank", ...attrs } = Astro.props;
---
<Div class="flex items-center justify-center" {...attrs}>
  <Link 
    href={href} 
    target={target}
    class="no-underline px-3 py-1.5 font-medium bg-blue-50 hover:bg-blue-100 rounded-lg transition-colors duration-200 text-blue-600 text-base"
  >
    <slot>Visit</slot>
  </Link>
</Div>