---
import "@fontsource-variable/archivo";
import "@fontsource-variable/archivo-narrow";
import "@fontsource-variable/playfair-display";
import "@fontsource/ibm-plex-serif/400-italic.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/fa vicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class:list={"bg-zinc-950 font-sans text-zinc-50"}>
    <main class:list={"p-6 sm:px-6 sm:py-0"}>
      <div class:list={["mx-auto w-full max-w-md space-y-12 sm:space-y-16"]}>
        <slot />
      </div>
    </main>
  </body>
</html>
<style is:global>
  * {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .font-sans {
    font-family: "Archivo Variable", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  .font-sans-narrow {
    font-family: "Archivo Narrow Variable", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  .font-serif {
    font-family: "IBM Plex Serif", Georgia, "Times New Roman", Times, serif;
  }

  /* .border-rainbow {
    border: 1px solid transparent;
    border-image: linear-gradient(
      to bottom right,
      #ea3ef7,
      #ea3223,
      #fffd54,
      #75f94c,
      #73fbfd,
      #0021f5
    );
    border-image-slice: 1;
  } */

  .border-rainbow {
    position: relative;
  }
  .border-rainbow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.75rem;
    padding: 1px;
    background: linear-gradient(
      to bottom right,
      #ff00ff,
      #ff6600,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff
    );
    -webkit-mask:
      linear-gradient(#ffffff 0 0) content-box,
      linear-gradient(#ffffff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  sub,
  sup {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: 0em;
    vertical-align: super;
  }
  sub {
    bottom: 0em;
    vertical-align: sub;
  }
</style>
